{% import "fields.html.twig" as fields %}
{% extends 'layout.html.twig' %}

{% block body %}
    <div class='menu'>
    	{% include 'header.html.twig' %}

		{% include 'navigation.html.twig' with {'groups': graph.groups, 'entity': entity, 'ungrouped':graph.ungroupedEntities} only %}
    </div>

    <div class="content">
    	<h1>{{ entity.title(true) }}</h1>

    	{% if entity.description %}
			<p>
				{{ entity.description }}
			</p>
    	{% endif %}

        <p>
            <a href="{{ path('table_new', {'entity':entity.id}) }}">+ Create new {{ entity.title }}</a>
        </p>

        <p>
        {% if entity.id == 'registration' %}
                <a href="{{ path('export_all_badges', {'conference': 1}) }}">🖨 Print Badges</a> | 
        {% endif %}
        Export:
        <a href="{{ path('table_list', {'entity':entity.id,'format':'xml'}) }}">XML</a> |
        <a href="{{ path('table_list', {'entity':entity.id,'format':'csv'}) }}">CSV</a> |
        <a href="{{ path('table_list', {'entity':entity.id,'format':'json'}) }}">JSON</a>
        </p>

        <div class="sql debug">{{ controller.sqlString }}</div>

        {% if controller.hasPrevPage or controller.hasNextPage %}
            {% if controller.hasPrevPage %}
                <a href="?{{ controller.params.replace('page', controller.page - 1) }}">« Back</a>
            {% else %}
                « Back
            {% endif %}

             | Page {{ controller.page }} | 

            {% if controller.hasNextPage %}
                <a href="?{{ controller.params.replace('page', controller.page + 1) }}">Next »</a>
            {% else %}
                Next »
            {% endif %}
        {% endif %}

        {% if entity.isSearchable %}
            <input type="search"><button>Search</button>
        {% endif %}

    	<table>
    		<thead>
    			<tr>
                    {% if entity.serialColumn %}
                        <th>
                            <a href="?{{ controller.params.replace(['order','dir'], controller.isOrderedBy(null, 'desc') ? 'asc' : 'desc').remove(['page']).remove(['order','field']) }}">{{ entity.serialColumn }}</a>
                            <a class="sort" href="?{{ controller.params.replace(['order','dir'], 'asc').remove(['page']).remove(['order','field']) }}">
                                {%- if controller.isOrderedBy(null, 'asc') -%}
                                    ▲
                                {%- else -%}
                                    △
                                {%- endif -%}
                            </a><a class="sort" href="?{{ controller.params.replace(['order','dir'], 'desc').remove(['page']).remove(['order','field']) }}">
                                {%- if controller.isOrderedBy(null, 'desc') -%}
                                    ▼
                                {%- else -%}
                                    ▽
                                {%- endif -%}
                            </a>
                        </th>
                    {% endif %}
    				{% for field in entity.fields %}
    					{% if field.isVisibleInCollection and (not field.isSecret) %}
						<th>
                        <a href="?{{ controller.params.replace(['order','dir'], 
                            controller.isOrderedBy(field, 'desc') ? 'asc' : 'desc'
                        ).replace(['order','field'], field.id).remove(['page']) }}">{{ field.title }}</a>
                        <a class="sort" href="?{{ controller.params.replace(['order','dir'], 'asc').remove(['page']).replace(['order','field'], field.id) }}">
                            {%- if controller.isOrderedBy(field, 'asc') %}
                                ▲
                            {%- else -%}
                                △
                            {%- endif -%}
                        </a><a class="sort" href="?{{ controller.params.replace(['order','dir'], 'desc').remove(['page']).replace(['order','field'], field.id) }}">
                            {%- if controller.isOrderedBy(field, 'desc') -%}
                                ▼
                            {%- else -%}
                                ▽
                            {%- endif -%}
                        </a>
						</th>
    					{% endif %}
    				{% endfor %}
                    <th>Actions</th>
                    <th class="fill-label"><label><input type="checkbox" data-select='all'></label></th>
    			</tr>
    		</thead>
            <tfoot>
                <tr>
                    {% if entity.serialColumn %}
                        <th></th>
                    {% endif %}
                    {% for field in entity.fields %}
                        {% if field.isVisibleInCollection and (not field.isSecret) %}
                        <td>
                        </td>
                        {% endif %}
                    {% endfor %}
                    <td></td>
                    <td>
                        <select><option /><option>Delete</option></select>
                    </td>
                </tr>
            </tfoot>
            <tbody>
                {% for record in controller.records %}
                    <tr>
                    {% if entity.serialColumn %}
                        <td>
                            <a href="{{ path('table_detail', {'entity':entity.id, 'id':record.id(entity)}) }}">
                                {{ record[entity.column(entity.serialColumn)] }}
                            </a>
                        </td>
                    {% endif %}
                    {% for field in entity.fields %}
                        {% if field.isVisibleInCollection and (not field.isSecret) %}
                        <td>
                            {% if field.isLinked %}
                                <a href="{{ path('table_detail', {'entity':entity.id, 'id':record.id(entity)}) }}">
                            {% endif %}
                            
                            {{  attribute(fields, field.typeTemplate, [field, record])|trim|default('-')|raw }}
                            
                            {% if field.isLinked %}
                                </a>
                            {% endif %}
                        </td>
                        {% endif %}
                    {% endfor %}
                        <td>
                            <a title="edit" href='{{ path('table_edit', {"entity": entity.id, "id": record.id(entity)}) }}'>&#x270E;</a>
                            <a title="delete" href='{{ path('table_delete', {"entity": entity.id, "id": record.id(entity)}) }}'>&#x2715;</a>
                            <a title="copy" href='{{ path('table_new', {"entity": entity.id, "copy": record.id(entity)}) }}'>&#x2398;</a>
                        </td>

                        <td class="fill-label">
                            <label><input type="checkbox" data-select /></label>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="{{ entity.fields|length + 2 + (entity.serialColumn ? 1 : 0) }}">
                            <center class='no-data'>No Data</center>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
    	</table>
    </div>
{% endblock %}