{% import "fields.html.twig" as fields %}
{% extends 'layout.html.twig' %}

{% block body %}
    <div class='menu'>
    	{% include 'header.html.twig' %}

		{% include 'navigation.html.twig' with {'groups': graph.groups, 'entity': entity, 'ungrouped':graph.ungroupedEntities} only %}
    </div>

    <div class="content">
		<a href="{{ path('table_list', {'entity':entity.id}) }}">« Back to all {{ entity.title(true) }}</a>

		<div class="sql debug">{{ controller.sqlString }}</div>

    	<h1>{{ entity.title }}
    	{% if entity.serialColumn %}
	    	#{{ controller.record.id(entity) -}}
    	{%- endif -%}
    	{%- if not entity.displayTemplateCompiled.empty -%}
		: {{ entity.displayTemplateCompiled.render(controller.record) | raw}}
    	{% endif %}
    	</h1>
    	

    	<dl class="prop-list">
    		{% for field in entity.fields %}
    		<dt>
    			{{ field.title }}
    		</dt>
		    <dd>
		        {{  attribute(fields, field.typeTemplate, [field, controller.record])|trim|default('-')|raw }}
		    </dd>
    		{% endfor %}
    	</dl>

    	
    </div>
{% endblock %}