{% macro template(template, record, link) %}
	{{ template.render(record, link)|raw }}
{% endmacro %}

{% macro text(field, record) %}
    {{ record[field.column('value')] }}
{% endmacro %}

{% macro ref_parent(field, record) %}
	{% if record.foreignId(field.parent('ref')) %}
	<a href="{{ path('table_detail', {'entity':field.parent('ref').targetEntity.id, 'id':record.foreignId(field.parent('ref'))}) }}" style="white-space: nowrap;">{{ _self.template(field.parent('ref').targetEntity.displayTemplateCompiled, record, field.parent('ref').toLink) }}</a>
	{% endif %}
{% endmacro %}

{% macro ref_children(field, record) %}
	<a class="badge" href="">
		{{ record.count(field.child('ref')) }}
	</a>
{% endmacro %}

{% macro datetime(field, record) %}
    {{ record[field.column('value')] }}
{% endmacro %}

{% macro date(field, record) %}
    {{ record[field.column('value')]|date('d.m.Y') }}
{% endmacro %}

{% macro time(field, record) %}
    {% if field.type.includesSeconds %}
    	{{ record[field.column('value')]|date('H:i:s') }}
	{% else %}
	    {{ record[field.column('value')]|date('H:i') }}
    {% endif %}
{% endmacro %}

{% macro number(field, record) %}
    {{ record[field.column('value')] }}
{% endmacro %}

{% macro choice(field, record) %}
    {{ record[field.column('value')] }}
{% endmacro %}