{% import "fields.html.twig" as fields %}
{% extends 'layout.html.twig' %}

{%- block title -%}
    {{- entity.title(true) }} List - {{ parent() -}}
{%- endblock -%}

{% block body %}
    <div class='menu'>
    	{% include 'header.html.twig' %}

		{% include 'navigation.html.twig' with {'navigation': navigation, 'entity': entity} only %}
    </div>

    <div class="content">

        {% include 'scope_selector.html.twig' with {scopeSelector: scopeSelector, params: params} only %}

    	<h1>{{ entity.title(true) }}</h1>

    	{% if entity.description %}
			<p>
				{{ entity.description }}
			</p>
    	{% endif %}

        <p>
            <a href="{{ path('table_new', {'entity':entity.id}) }}">+ Create new {{ entity.title }}</a>
        </p>

        <p>
        {% if entity.id == 'registration' %}
            <a href="{{ path('export_all_badges', {'conference': 1}) }}">🖨 Print Badges</a> | 
        {% endif %}
        Export:
        <a href="{{ path('table_export', {'entity':entity.id,'format':'xml'}) }}">XML</a> |
        <a href="{{ path('table_export', {'entity':entity.id,'format':'csv'}) }}">CSV</a> |
        <a href="{{ path('table_export', {'entity':entity.id,'format':'json'}) }}">JSON</a>
        </p>

        <div class="sql debug">{{ collectionView.query }}</div>

        {% include 'paginator.html.twig' with {pagination: collectionView.pagination, params: params} only %}

        {% if entity.isSearchable %}
            <input type="search"><button>Search</button>
        {% endif %}

    	<table>
    		<thead>
    			<tr>
                    {% if entity.serialColumn %}
                        <th>
                            <a href="?{{ collectionView.toggleSerialOrderParams(params) }}">{{ entity.serialColumn }}</a>
                            <a href="?{{ collectionView.serialOrderParams(params, 'asc') }}" class="sort">{% if collectionView.isSerialOrderBy('asc') %}▲{% else %}△{% endif %}</a>{#
                          #}<a href="?{{ collectionView.serialOrderParams(params, 'desc') }}" class="sort">{% if collectionView.isSerialOrderBy('desc') %}▼{% else %}▽{% endif %}</a>
                            
                        </th>
                    {% endif %}
    				{% for column in collectionView.columns %}
						<th>
                        <a href="?{{ column.toggleOrderParams(params) }}">{{ column.title }}</a>
                        <a href="?{{ column.orderParams(params, 'asc') }}" class="sort">{% if column.isOrderBy('asc') %}▲{% else %}△{% endif %}</a>{#
                      #}<a href="?{{ column.orderParams(params, 'desc') }}" class="sort">{% if column.isOrderBy('desc') %}▼{% else %}▽{% endif %}</a>
                        </th>
    				{% endfor %}
                    <th>Actions</th>
                    <th class="fill-label"><label><input type="checkbox" data-select='all'></label></th>
    			</tr>
    		</thead>
            <tfoot>
                <tr>
                    {% if entity.serialColumn %}
                        <th></th>
                    {% endif %}
                    {% for column in collectionView.columns %}
                        <td>
                        </td>
                    {% endfor %}
                    <td></td>
                    <td>
                        <select>
                            <option></option>
                            <option>Batch Edit</option>
                            <option>Delete</option>
                        </select>
                    </td>
                </tr>
            </tfoot>
            <tbody>
                {% for record in collectionView.records %}
                    <tr>
                    {% if entity.serialColumn %}
                        <td>
                            <a href="{{ path('table_detail', {'entity':entity.id, 'id':record.id(entity)}) }}">
                                {{ record[entity.column(entity.serialColumn)] }}
                            </a>
                        </td>
                    {% endif %}
                    {% for column in collectionView.columns %}
                        <td>
                            {% if column.isLinked %}
                                <a data-max href="{{ path('table_detail', {'entity':entity.id, 'id':record.id(entity)}) }}">
                            {% endif %}
                            
                            {{  attribute(fields, column.field.typeTemplate, [column.field, record, templateRenderer])|trim|default('-')|raw }}
                            
                            {% if column.isLinked %}
                                </a>
                            {% endif %}
                        </td>
                    {% endfor %}
                        <td>
                            <a title="edit" href='{{ path('table_edit', {"entity": entity.id, "id": record.id(entity)}) }}'>&#x270E;</a>
                            <a title="delete" href='{{ path('table_delete', {"entity": entity.id, "id": record.id(entity)}) }}'>&#x2715;</a>
                            <a title="copy" href='{{ path('table_new', {"entity": entity.id, "copy": record.id(entity)}) }}'>&#x2398;</a>
                        </td>

                        <td class="fill-label">
                            <label><input type="checkbox" data-select /></label>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="{{ collectionView.fields|length + 2 + (entity.serialColumn ? 1 : 0) }}">
                            <center class='no-data'>
                                No Data
                                {% if scope.isSpecified %}
                                    <br>
                                    <a href="?">Try to remove the scope</a>
                                {% endif %}
                            </center>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
    	</table>
    </div>
{% endblock %}