{% macro template(template, record, templateRenderer, link) %}
	{{ template.render(record, templateRenderer, link)|raw }}
{% endmacro %}

{% macro text(field, record) %}
	{% if record[field.column('value')] %}
	    {% if field.type.isMultiline %}
	    	<div class="whitespaced">{{ record[field.column('value')] }}</div>
		{% else %}
		    {{ record[field.column('value')] }}
	    {% endif %}
    {% endif %}
{% endmacro %}

{% macro ref_parent(field, record, templateRenderer) %}
	{% if record.foreignId(field.parent('ref')) %}
	<a href="{{ path('table_detail', {'entity':field.parent('ref').targetEntity.id, 'id':record.foreignId(field.parent('ref'))}) }}" style="white-space: nowrap;">{{ _self.template(field.parent('ref').targetEntity.displayTemplateCompiled, record, templateRenderer, field.parent('ref').toLink) }}</a>
	{% endif %}
{% endmacro %}

{% macro ref_children(field, record, _) %}
	<a class="badge" href="{{ path('table_list', {'entity':field.child('ref').targetEntity.id}) }}">
		{{ record.count(field.child('ref')) }}
	</a>
{% endmacro %}

{% macro datetime(field, record) %}
	{% if record[field.column('value')] %}
    {{ record[field.column('value')]|date('d.m.Y H:i') }}
    {% endif %}
{% endmacro %}

{% macro date(field, record) %}
	{% if record[field.column('value')] %}
    {{ record[field.column('value')]|date('d.m.Y') }}
    {% endif %}
{% endmacro %}

{% macro time(field, record) %}
	{% if record[field.column('value')] %}
	    {% if field.type.includesSeconds %}
	    	{{ record[field.column('value')]|date('H:i:s') }}
		{% else %}
		    {{ record[field.column('value')]|date('H:i') }}
	    {% endif %}
    {% endif %}
{% endmacro %}

{% macro number(field, record) %}
    {{ record[field.column('value')] }}
    {% if field.type.unit %}
    {{ field.type.unit }}
    {% endif %}
{% endmacro %}

{% macro choice(field, record) %}
    {{ record[field.column('value')] }}
{% endmacro %}

{% macro color(field, record) %}
    <span class="swatch" style="color: {{ record[field.column('value')]|default('rgba(0,0,0,0.1)') }}"></span>
{% endmacro %}

{% macro toggle(field, record) %}
    <input type="checkbox" disabled{% if record[field.column('value')] %} checked{% endif %} />
    {% if record[field.column('value')] %} 
    Yes 
    {% else %}
    No
    {% endif %}
{% endmacro %}

{% macro syntax(field, record) %}
    <div class="json-small">{{ record[field.column('value')] }}</div>
{% endmacro %}

{% macro currency(field, record) %}
    {{ (record[field.column('value')]/100)|number_format(2, ',', '.') }}{{ field.type.unit|replace({'euro':'€'}) }}
{% endmacro %}

{% macro file(field, record) %}
    {{ _self.bytesToSize(record[field.column('size')]) }}
    {{ record[field.column('mime')] }}
{% endmacro %}


{% macro geo(field, record) %}
    ({{ record[field.column('latitude')] }}° N,
    {{ record[field.column('longitude')] }}° W)
{% endmacro %}

{% macro url(field, record) %}
    {% if record[field.column('value')] %}
	<a href="{{ record[field.column('value')] }}">{{ record[field.column('value')] }}</a>    
    {% endif %}
{% endmacro %}

{% macro email(field, record) %}
    {% if record[field.column('value')] %}
	<a href="mailto:{{ record[field.column('value')] }}">{{ record[field.column('value')] }}</a>    
    {% endif %}
{% endmacro %}


{% macro bytesToSize(bytes) %}
{% spaceless %}
    {% set kilobyte = 1024 %}
    {% set megabyte = kilobyte * 1024 %}
    {% set gigabyte = megabyte * 1024 %}
    {% set terabyte = gigabyte * 1024 %}

    {% if bytes < kilobyte %}
        {{ bytes ~ ' B' }}
    {% elseif bytes < megabyte %}
        {{ (bytes / kilobyte)|number_format(2, '.') ~ ' KB' }}
    {% elseif bytes < gigabyte %}
        {{ (bytes / megabyte)|number_format(2, '.') ~ ' MB' }}
    {% elseif bytes < terabyte %}
        {{ (bytes / gigabyte)|number_format(2, '.') ~ ' GB' }}
    {% else %}
        {{ (bytes / terabyte)|number_format(2, '.') ~ ' TB' }}
    {% endif %}
{% endspaceless %}
{% endmacro %}