{% import "fields.html.twig" as fields %}
{% extends 'layout.html.twig' %}

{% block body %}
    <div class='menu'>
    	{% include 'header.html.twig' %}

        {% include 'navigation.html.twig' with {'navigation': navigation} only %}
    </div>

    <div class="content">
		<a href="{{ path('table_list', {'entity':entity.id}) }}">« Back to all {{ entity.title(true) }}</a>

    	<h1>New {{ entity.title }}</h1>

        <span class="not-implemented">
            Das hier funktioniert noch nicht.
        </span> 
    	
    
    	<form action="">
            <dl class="prop-list">
                {% for field in entity.fields %}
                <dt class="prop-list-key">
                    <label for="field-{{field.id}}" class="prop-list-label
                    {%- if field.isRequired %} required{% endif -%}
                    ">{{ field.title }}</label>
                    
                    {% if field.description %}
                    <p>{{ field.description }}</p>
                    {% endif %}
                </dt>
                <dd class="prop-list-value">
                    <input id="field-{{field.id}}" class="form-field" />
                </dd>
                {% endfor %}

                <dt class="prop-list-key ghost">Actions</dt>
                <dd class="prop-list-value">
                    <ul class="inline-list">
                        <li><button class="form-button create">Save</button></li>
                        <li><a class="form-button cancel" href="">Cancel</a></li>
                    </ul>
                </dd>
            </dl> 

            
        </form>

    	
    </div>
{% endblock %}