{% macro item(item, current, params) %}
    <li><a href="{{ path('table_list', {'entity':item.entityId}) }}" class="nav-table{% if item.isActive %} state-active{% endif %}">{{ item.label }}</a></li>
{% endmacro %}

<a href="{{ path('logout') }}" rel="nofollow">Logout</a> | 
<label><input type="checkbox" onChange="document.body.classList.toggle('debug', this.checked)"/> Debug</label>
<hr>

{% for group in navigation.groups %}
<h3 class="nav-group-title">{{ group.label }}</h3>
<ul class="nav-list">
	{% for i in group.items %}
		{{ _self.item(i) }}
	{% endfor %}
</ul>
{% endfor %}